* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    135deg,
    RGB(0, 0, 0),
    RGB(1, 1, 41),
    RGB(40, 0, 60)
  );
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 5s ease-in-out infinite;
}
label{
  color: wheat;
  font-family: 'Montserrat', sans-serif;
}
footer img{
  height: 450px;
}
footer hr{
  margin: 20px, 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, white, #cccc , white);
}
footer a{
  text-decoration: none;
  color: beige;
}
footer a:hover{
  color: #007bff;
}
@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
