@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

* {
  margin: 0;
  padding: 0;
}

.administradorOculto {
  display: none;
}

.administradorMostrar {
  display: inline;
}
p {
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
}
.card-title {
  font-family: "Shrikhand", serif;
  font-size: large;
}
.card {
  background-color: transparent;
}

.fotoRadius {
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px;
}

body {
  margin-top: 90px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    135deg,
    RGB(0, 0, 0),
    RGB(1, 1, 41),
    RGB(40, 0, 60)
  );
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 5s ease-in-out infinite;
}
footer img {
  height: 120px;
}
footer hr {
  margin: 20px, 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, white, #cccc, white);
}
footer a {
  text-decoration: none;
  color: beige;
}
footer a:hover {
  color: #007bff;
}
@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/* Franco */
.destacada {
  position: relative;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.238);
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: start;
  color: #fff;
}
nav {
  background-color: transparent;
}
/* Estilos para móviles */
@media (max-width: 767px) {
  .overlay p {
    display: none;
  }
  .carDesk {
    display: none;
  }
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 991px) {
  .carDesk {
    display: none;
  }
}

/* Estilos para escritorio */
@media (min-width: 992px) {
  .carMob {
    display: none;
  }
  .carru5 img {
    height: 70vh;
  }
}

.reproducir-btn:hover {
  background-color: #2980b9;
}
